* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background: #080808;
    color: #fff;

}

#header {
    width: 100%;
    height: 100vh;
    background-image: url("Images/HeaderPic.jpg");
    background-size: cover;
    background-position: right;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Logo {
    width: 190px;
    opacity: 0.5;
    filter: drop-shadow(23px);
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    position: relative;
}

nav ul li a::after {
    content: "";
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0px;
    bottom: -6px;
}

nav ul li a:hover::after {
    width: 100%;
    transition: 0.5s;
}

.header-text {
    margin-top: 15%;
    font-size: 25px;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
    margin-left: 40px;
}

.header-text h1 span {
    color: #ff004f;

}

.header-text p {
    margin-left: 40px;
}

/* -------------About-----------------*/

#About {
    padding: 80px 0px;
    color: #ababab;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.About-col-1 {
    flex-basis: 35%;
}

.About-col-1 img {
    width: 100%;
    border-radius: 20px;
    filter: drop-shadow(10px 10px 10px rgb(59, 59, 59));
}

.About-col-2 {
    flex-basis: 60%;

    margin-right: 20px;
    margin-left: 40px;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;

}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #b54769;
    font: size 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/*-----------------------------Skills---------------------------*/

#Skills {
    padding: 10px 0px;
    color: #ababab;
    width: 100%;
}

.title h1 {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    padding-bottom: 25px;
}

.SkillsNames {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    justify-items: center;
}

.Skills {
    text-align: center;
    margin: 20px;

}

.Skill img {
    height: 180px;
    width: 180px;
    border-radius: 25%;
    object-fit: contain;
    transition: transform 0.3s ease;
    margin-bottom: 10px;
}

.Skill img:hover {
    transform: scale(1.2);
}

.Skill p {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    color: white;
    text-align: center;
    background-color: #061e38;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
}


.Skill p:hover {
    background-color: #0056b3;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/*-----------------------------MyProjects-------------------------------*/
#Portfolio {
    padding: 30px 0px;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    height: 350px;
    border-radius: 10px;
    display: block;
    object-fit: cover;
    margin-bottom: 100px;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 600;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer{
    height :100%;
}